server.port=${SERVER_PORT}
ssh.server.port=${SSH_SERVER_PORT}

spring.datasource.url=jdbc:postgresql://${POSTGRES_CONTAINER_NAME}/${POSTGRES_DB}
spring.datasource.username=${POSTGRES_USER}
spring.datasource.password=${POSTGRES_PASS}

spring.redis.host=${REDIS_HOST}
spring.redis.port=${REDIS_PORT}

ssh.server.cert=/opt/gitflic/cert
repository.dir=/var/gitflic/repo
image.upload.dir=/var/gitflic/img
releases.upload.dir=/var/gitflic/releases
cicd.pipeline.dir=/var/gitflic/cicd
gitflic.registry.package.dir=/var/gitflic/registry

spring.mail.host=${EMAIL_SMTP_HOST}
spring.mail.port=${EMAIL_SMTP_PORT}
spring.mail.username=${EMAIL_USER}
spring.mail.password=${EMAIL_PASS}
spring.mail.properties.mail.smtp.ssl.enable=true
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.debug = false
smtp.sender.name=${SENDER_NAME}
smtp.sender.email=${SENDER_EMAIL}

gitflic.base.url=${GITFLIC_BASE_URL}
gitflic.transport.url=${GITFLIC_TRANSPORT_URL}

logging.file.name=server.log
logging.file.path=/var/log/gitflic


